# ================================================
# GENERAL
# ================================================

.github/
.vscode/
scripts/
.editorconfig
.gitignore
.gitleaks.toml
.pre-commit-config.yaml
.pylintrc
.releaserc.json
*.MD
Dockerfile
LICENSE
main.bat
renovate.json

# ================================================
# NODE
# ================================================

npm-debug.log*
package-lock.json

# Dependency directories
node_modules/

# ================================================
# YARN
# ================================================

yarn-debug.log*
yarn-error.log*

/.pnp
.pnp.js
